.especialidades {
    background-color: $color-sand-light;
    font-size: 1.8rem;

    &__container {
        margin: 0 auto;
        max-width: 50rem;
        width: $container-width;

        @include large {
            align-items: center;
            display: grid;
            gap: 5%;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: $mg-big;
            max-width: 70%;
        }

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: $mg-medium;
        }
    }

    &__block {
        box-shadow: $light-shadow;
        color: $color-primary-dark;
        margin-bottom: $pd-big;
        overflow: hidden;
        transition: 2s transform ease-out;

        @include large {
            margin-bottom: 0;
        }
    }

    &__image:hover {
        transform: scale(1.02) rotateZ(1deg);
    }

    &__text {
        background-color: $color-white;
        display: block;
        font-family: $font-secondary;
        font-weight: 600;
        padding: $pd-small 0;
    }
}
