.allergen {
    &__list {
        margin: $mg-small 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include mobile {
            grid-template-columns: repeat(5, 1fr);
        }
        @include tablet {
            grid-template-columns: repeat(7, 1fr);
        }

        text-align: center;

        &__item {
            width: 5rem;
            height: 7rem;
        }
    }
}
