.contacto {
    background-color: $color-sand-light;

    &__container {
        margin: 0 auto;
        max-width: 50rem;
        width: $container-width;
    }

    &__content {
        text-align: center;
        margin-top: -$pd-small;
        background-color: $color-white;
        padding: $pd-large 0;
        box-shadow: $light-shadow;
    }

    &__heading {
        color: $color-primary-dark;
        padding-bottom: $pd-small;
    }

    &__paragraph {
        color: $color-secondary;
        padding-bottom: $pd-small;
    }

    &__tel--link {
        @include flex-center;
    }

    &__subheading {
        font-size: 2rem;
    }

    &__icon {
        font-size: 2.4rem;
        padding-right: $pd-tiny;
    }
}
