.footer {
    background-color: $color-primary;
    font-size: 1.8rem;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 90%;
        padding: $pd-medium;

        @include large {
            margin: 0 auto;
            max-width: 80%;
        }
    }

    &__logo {
        margin: 0 auto;
        padding-bottom: $pd-medium;
        width: 20rem;

        @include large {
            width: 25vw;
        }
    }

    & .social-icons {
        @include flex-center;
        justify-content: space-around;

        @include mobile {
            margin: 0 auto;
            max-width: 50rem;
            min-width: 50rem;
        }

        @include large {
            align-items: flex-start;
            margin: 0 $mg-medium;
            max-width: none;
            min-width: 0;
            flex-basis: 1;
        }

        & a {
            font-size: 3rem;

            @include large {
                font-size: 4rem;

                &:not(:last-child) {
                    padding-bottom: $pd-small;
                }
            }
        }
    }

    &__links {
        color: $color-white;
        height: 100%;
        padding: $pd-large 0;
        text-align: center;

        @include large {
            @include flex-center;

            margin: $mg-small;
            padding: 0;
        }
    }

    &__link {
        @include large {
            font-size: 2rem;

            &:not(:last-child) {
                padding-right: $pd-large;
            }
        }

        &:hover {
            color: lighten($color-secondary, 40%);
        }

        & > * {
            display: block;
            letter-spacing: $mainSpacing;
            padding: $pd-small 0;
            text-decoration: none;
            text-transform: capitalize;
            transition: $mainTransition;

            @include large {
                letter-spacing: normal;
            }

            &.active {
                color: lighten($color-secondary, 40%);
            }
        }
    }

    &__location {
        color: $color-white;

        &--link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: $pd-medium;
            transition: $mainTransition;
            &:hover {
                color: lighten($color-secondary, 40%);
            }
        }
        &--icon {
            font-size: 3rem;
            padding-right: $pd-tiny;
        }

        &--address {
            font-size: 2.2rem;
        }
    }

    &__copyright {
        color: $color-white;
        font-size: 1.6rem;
        padding: $pd-tiny 0;
        text-align: center;
    }
}
