.menu {
    &__container {
        margin: 0 auto;
        max-width: 50rem;
        width: $container-width;
    }

    &__content {
        text-align: center;
        margin-top: -$pd-small;
        background-color: $color-white;
        padding: $pd-small 0;
        text-align: center;
    }

    &__group {
        padding-bottom: $pd-large;
    }

    &__heading {
        color: $color-secondary;
        padding-bottom: $pd-medium;

        &--span {
            display: block;
            font-family: $font-primary;
            font-size: 1.4rem;
            margin-top: $mg-tiny;
        }
    }

    // &__platos {
    // }

    &__plato {
        &:not(:last-child) {
            padding-bottom: $pd-small;
        }
    }

    &__incluido {
        color: $color-secondary;
        padding-bottom: $pd-small;
    }

    &__precio {
        padding-bottom: $pd-small;
        font-style: italic;
        color: $color-primary;
    }

    &__aparte {
        margin-top: $pd-tiny;
    }
}
