.product {
    &__card {
        @include flex-center-column;
        // border-bottom: 1px solid $color-primary-dark;
        &:not(:last-child) {
            padding-bottom: $pd-large;
        }
    }

    &__title {
        color: $color-primary-dark;
        font-family: $font-big-text;
        font-size: 3.6rem;
        font-weight: 500;
        padding-bottom: $pd-tiny;
        display: flex;
        align-items: center;
    }

    &__description {
        font-family: $font-secondary;
        font-size: 1.2rem;
        padding-bottom: $pd-small;
    }

    &__price {
        font-family: $font-primary;
        font-size: 1.8rem;
        font-weight: 700;
        padding-bottom: $pd-small;
    }

    &__allergens {
        display: flex;
        margin-left: $mg-tiny;

        & svg {
            width: 1.8rem;
        }

        // remove the text
        & svg g g text {
            display: none;
        }
    }
}
