.product {
    padding: $pd-big 0;
    background-color: white;

    &__center {
        @include flex-center-column;
        margin: $mg-tiny $mg-small;
    }

    &__list {
        padding-bottom: $pd-small;
    }
    &__card {
        // background-color: $color-white;
        // box-shadow: $light-shadow;
        margin: $mg-small;
        padding: $pd-tiny $pd-tiny 0;
    }

    &__title {
        color: $color-primary-dark;
        font-family: $font-big-text;
        font-size: 3rem;
        font-weight: 500;
        padding: 0 0 $pd-tiny;

        text-align: center;
    }

    &__description {
        color: $color-primary-dark;
        font-size: 1.2rem;
        padding-bottom: $pd-tiny;
        text-align: center;
    }

    &__price {
        @include flex-center;
        font-family: $font-primary;

        font-size: 1.4rem;
        font-weight: 700;
        padding-bottom: $pd-tiny;
        text-align: right;
        align-items: flex-start;
    }

    &__allergens {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        & svg {
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    & .allergen__text {
        display: none;
    }
}
