.tag-list {
    background-color: $color-sand-light;
    font-size: 1.8rem;

    &__center {
        margin: 0 auto;
        max-width: 50rem;
        width: $container-width;
        padding-bottom: $pd-big;

        @include large {
            align-items: center;
            display: grid;
            gap: 5%;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 14rem;
            max-width: 70%;
        }

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: $mg-medium;
        }
    }

    &__item {
        box-shadow: 2px 5px 3px 0px #757a848a;
        color: #142850;
        overflow: hidden;
        transition: 2s transform ease-out;

        &:not(:last-child) {
            margin-bottom: 6rem;
        }

        @include large {
            margin-bottom: 6rem;
        }
    }

    &__image {
        // @include box(30rem, 18rem);
        max-height: 220px;
    }

    &__text {
        background-color: $color-white;
        display: block;
        font-family: $font-secondary;
        font-weight: 600;
        padding: $pd-small 0;
        text-align: center;
    }
}
