// This file contains mixins

// Box

@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

//   /* ===== Usage ===== */
//   div {
//     // You can pass width && height
//     @include box(200px, 300px);
//     /* or just pass width and the height
//        will default to the width value */
//     @include box(200px);
//   }

// Flexbox toolkit
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin flex-center-vert {
    display: flex;
    align-items: center;
}

@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}

//   /* ===== Usage ===== */
// .vertical-centered-element {
//     @include flex-center-vert;
//   }

//   .horizontally-centered-element {
//     flex-direction: column;
//     @include flex-center-vert;
//   }

// Font size

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
    font-size: $font-size * 1px;
    // font-size: $font-size * 0.1rem;
    // example using rem values and 62.5% font-size so 1rem = 10px

    @if $line-height==normal {
        line-height: normal;
    } @else {
        line-height: $line-height / $font-size;
    }

    @if $letter-spacing==normal {
        letter-spacing: normal;
    } @else {
        letter-spacing: #{$letter-spacing / $font-size}em;
    }
}

//   /* ===== Usage ===== */
//   p {
//     @include font-size(12, 18, 1.2);
//     // returns
//     font-size: 12px;
//     line-height: 1.5; // 18 / 12
//     letter-spacing: 0.1em;
//   }

// Cover background

@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//   /* ===== Usage ===== */
//   div {
//     background-image: url("cute-doggo.png");
//     @include cover-background;
//   }

// Media queries
$tiny: 320;
$mobile: 576;
$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin mobile-down {
    @media only screen and (max-width: $mobile * 1px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (min-width: $mobile * 1px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: $tablet * 1px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: $large * 1px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $desktop * 1px) {
        @content;
    }
}

// /* ===== Usage ===== */
// h1 {
//   font-size: 10px;

//   @include tablet {
//     font-size: 12px;
//   }

//   @include desktop {
//     font-size: 20px;
//   }
// }
