html {
    font-size: 62.5%; // 1rem = 10px

    @include desktop {
        font-size: 75%;
    }
}

body {
    font-size: 1.6rem;
    font-family: Roboto;
    background-color: $color-white;

    @include desktop {
        font-size: 1.8rem;
    }
}

h1,
h2 {
    font-family: Montez;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.6rem;
}
