// colors
$color-white: #dae1e7;
$color-primary-dark: #142850;
$color-primary: #27496d;
$color-secondary: #00909e;

// fonts

$font-primary: 'ubuntu';
$font-secondary: 'Baloo Toma 2';

$mainSpacing: 4px;
$mainTransition: all 0.3s linear;

// Shadows

$light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
